<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioManejoJugadores" />
            </basicHttpBinding>
        </bindings>
		<services>
			<service name="CrazyEightsServicio.ServicioManejoJugadores">
				<endpoint address="" binding="basicHttpBinding" contract="CrazyEightsServicio.IServicioManejoJugadores">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CrazyEightsServicio/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioManejoJugadores"
                contract="ReferenciaServicioManejoJugadores.IServicioManejoJugadores"
                name="BasicHttpBinding_IServicioManejoJugadores" />
        </client>
    </system.serviceModel>
</configuration>